<%- include('partials/header'); -%>

    <form action="/forgot-password" method="POST">
        <label for="email">Enter Your Email</label>
        <input type="email" name="email" required />
        <button type="submit" value=" submit">Reset Password</button>
    </form>

<%- include('partials/footer'); -%>